.main-img {
    position: absolute;
    min-width:100vw;
    height:100%;
    opacity: 0.3;
    top:0;
    left:0;
}

.container {
    display:flex;
    justify-content: space-around;
}


.main-btns {
    position: relative;
    top:60rem;
    padding:5rem 0;
    z-index: 12;
}

.main-btn {
    border: 0;
    z-index: 12;
    opacity: 0.7;
    width: 15rem;
    padding:5rem 2rem;
    margin:auto 1rem;
    border-radius: 40px;
    background-color: #f8ea8c;
    /* color:#F5dF4D; */
    font-weight: bold;
    font-size: 2rem;
}